<?xmlversion="1.0"encoding="utf-8"?>
<configuration>

<!--
Configureyourapplicationsettingsinappsettings.json.Learnmoreathttp://go.microsoft.com/fwlink/?LinkId=786380
-->

<system.webServer>
<handlers>
<addname="aspNetCore"path="*"verb="*"modules="AspNetCoreModule"resourceType="Unspecified"/>
</handlers>
<aspNetCoreprocessPath="%LAUNCHER_PATH%"arguments="%LAUNCHER_ARGS%"stdoutLogEnabled="false"stdoutLogFile=".\logs\stdout"forwardWindowsAuthToken="false"/>
</system.webServer>
</configuration>
