<?xml version="1.0" encoding="utf-8" ?>
<Types>
  <type>
    <SqlTypeName>bigint</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>0</NetDefaultValue>
    <NetTypeName>Int64</NetTypeName>
  </type>
  <type>
    <SqlTypeName>binary</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>Byte[]</NetTypeName>
  </type>
  <type>
    <SqlTypeName>bit</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>false</NetDefaultValue>
    <NetTypeName>Bool</NetTypeName>
  </type>
  <type>
    <SqlTypeName>char</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>string</NetTypeName>
  </type>
  <type>
    <SqlTypeName>datetime</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>DateTime.Now</NetDefaultValue>
    <NetTypeName>DateTime</NetTypeName>
  </type>
  <type>
    <SqlTypeName>date</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>DateTime.Now</NetDefaultValue>
    <NetTypeName>DateTime</NetTypeName>
  </type>
  <type>
    <SqlTypeName>decimal</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>0</NetDefaultValue>
    <NetTypeName>Decimal</NetTypeName>
  </type>
  <type>
    <SqlTypeName>float</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>0</NetDefaultValue>
    <NetTypeName>Double</NetTypeName>
  </type>
  <type>
    <SqlTypeName>image</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>new byte()</NetDefaultValue>
    <NetTypeName>Byte</NetTypeName>
  </type>
  <type>
    <SqlTypeName>int</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>0</NetDefaultValue>
    <NetTypeName>Int32</NetTypeName>
  </type>
  <type>
    <SqlTypeName>money</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>0</NetDefaultValue>
    <NetTypeName>Decimal</NetTypeName>
  </type>
  <type>
    <SqlTypeName>nchar</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>string</NetTypeName>
  </type>
  <type>
    <SqlTypeName>ntext</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>string</NetTypeName>
  </type>
  <type>
    <SqlTypeName>numeric</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>0</NetDefaultValue>
    <NetTypeName>Decimal</NetTypeName>
  </type>
  <type>
    <SqlTypeName>nvarchar</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>string</NetTypeName>
  </type>
  <type>
    <SqlTypeName>real</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>0</NetDefaultValue>
    <NetTypeName>Single</NetTypeName>
  </type>
  <type>
    <SqlTypeName>smalldatetime</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>DateTime.Now</NetDefaultValue>
    <NetTypeName>DateTime</NetTypeName>
  </type>
  <type>
    <SqlTypeName>smallint</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>0</NetDefaultValue>
    <NetTypeName>Int16</NetTypeName>
  </type>
  <type>
    <SqlTypeName>smallmoney</SqlTypeName>
    <SQLDefaultValue>0</SQLDefaultValue>
    <NetDefaultValue>0</NetDefaultValue>
    <NetTypeName>Decimal</NetTypeName>
  </type>
  <type>
    <SqlTypeName>sql_variant</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>Object*</NetTypeName>
  </type>
  <type>
    <SqlTypeName>text</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>string</NetTypeName>
  </type>
  <type>
    <SqlTypeName>timestamp</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>Byte[]</NetTypeName>
  </type>
  <type>
    <SqlTypeName>tinyint</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>new byte()</NetDefaultValue>
    <NetTypeName>Byte</NetTypeName>
  </type>
  <type>
    <SqlTypeName>uniqueidentifier</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>Guid.NewGuid()</NetDefaultValue>
    <NetTypeName>Guid</NetTypeName>
  </type>
  <type>
    <SqlTypeName>varbinary</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>new byte()</NetDefaultValue>
    <NetTypeName>Byte</NetTypeName>
  </type>
  <type>
    <SqlTypeName>varchar</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>string</NetTypeName>
  </type>
  <type>
    <SqlTypeName>xml</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>Xml</NetTypeName>
  </type>
  <type>
    <SqlTypeName>sysname</SqlTypeName>
    <SQLDefaultValue>null</SQLDefaultValue>
    <NetDefaultValue>null</NetDefaultValue>
    <NetTypeName>string</NetTypeName>
  </type>
</Types>